.card {
    height: 250px;
    border-radius: 8px;
    padding: 8px;
    width: 300px;
    position: relative;
    border: 1px solid #EAEAEA;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    .recipeImg {
        height: 200px;
        width: 100%;
    }
}